@charset "UTF-8";
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #333;
  font-family: 'Kokoro', 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #333;
  display: block;
  cursor: pointer;
}

p {
  line-height: 1.5;
}

.span-strong {
  font-style: italic;
  font-weight: bold;
}

.span-small {
  display: block;
  font-size: 12px;
  padding-top: 20px;
}

.icon-small {
  font-size: 5px;
}

.header {
  position: fixed;
  width: 100%;
  height: 50px;
  background: #fff;
  z-index: 10;
}

.header_wrapper .header_btns1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 3px 3px 10px #777;
          box-shadow: 3px 3px 10px #777;
}

.header_wrapper .header_btns1 .header_logo {
  margin: 10px;
  opacity: .7;
}

.header_wrapper .header_btns1 .checkbox {
  display: none;
}

.header_wrapper .header_btns1 .hamburgerIcon {
  width: 30px;
  height: 30px;
  margin: 10px 20px 10px 0;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 20;
}

.header_wrapper .header_btns1 .hamburgerIcon .menuLine {
  position: relative;
  top: 0;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #333;
}

.header_wrapper .header_btns1 .hamburgerIcon .menuLine:nth-child(1) {
  margin: 4px auto;
}

.header_wrapper .header_btns1 .hamburgerIcon .menuLine:nth-child(2) {
  margin: 8px auto;
}

.header_wrapper .header_btns1 .hamburgerIcon .menuLine:nth-child(1), .header_wrapper .header_btns1 .hamburgerIcon .menuLine:nth-child(3) {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: top .25s .2s, -webkit-transform .25s;
  transition: top .25s .2s, -webkit-transform .25s;
  transition: top .25s .2s, transform .25s;
  transition: top .25s .2s, transform .25s, -webkit-transform .25s;
}

.header_wrapper .header_btns1 .hamburgerIcon .menuLine:nth-child(2) {
  -webkit-transition: width .25s;
  transition: width .25s;
}

.header_wrapper .header_btns1 .checkbox:checked ~ .hamburgerIcon .menuLine:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: top .25s, -webkit-transform .25s .2s;
  transition: top .25s, -webkit-transform .25s .2s;
  transition: top .25s, transform .25s .2s;
  transition: top .25s, transform .25s .2s, -webkit-transform .25s .2s;
}

.header_wrapper .header_btns1 .checkbox:checked ~ .hamburgerIcon .menuLine:nth-child(2) {
  width: 0;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.header_wrapper .header_btns1 .checkbox:checked ~ .hamburgerIcon .menuLine:nth-child(3) {
  top: -10px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transition: top .25s, -webkit-transform .25s .2s;
  transition: top .25s, -webkit-transform .25s .2s;
  transition: top .25s, transform .25s .2s;
  transition: top .25s, transform .25s .2s, -webkit-transform .25s .2s;
}

.header_wrapper .header_btns1 .gnav {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 10;
  text-align: center;
  padding-top: 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  background: rgba(255, 255, 255, 0.95);
}

.header_wrapper .header_btns1 .gnav .gnav_list .gnav_item {
  font-size: 16px;
  font-style: italic;
  margin: 15px;
}

.header_wrapper .header_btns1 .gnav .gnav_list .gnav_item > a {
  padding: 15px;
}

.header_wrapper .header_btns1 .gnav .gnav_list .gnav_item:nth-child(5) {
  margin-top: 50px;
}

.header_wrapper .header_btns1 .gnav .gnav_list .gnav_item:nth-child(5) p {
  line-height: 1.1;
}

.header_wrapper .header_btns1 .gnav .gnav_list .gnav_item:nth-child(5) .gnav_gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_wrapper .header_btns1 .gnav .gnav_list .gnav_item:nth-child(5) .gnav_gender > a, .header_wrapper .header_btns1 .gnav .gnav_list .gnav_item:nth-child(5) .gnav_gender span {
  font-style: normal;
  display: block;
  padding: 5px 15px;
}

.header_wrapper .header_btns1 .gnav .gnav_list .gnav_item:nth-child(5) .gnav_gender > a.man, .header_wrapper .header_btns1 .gnav .gnav_list .gnav_item:nth-child(5) .gnav_gender span.man {
  color: #056ffa;
}

.header_wrapper .header_btns1 .gnav .gnav_list .gnav_item:nth-child(5) .gnav_gender > a.woman, .header_wrapper .header_btns1 .gnav .gnav_list .gnav_item:nth-child(5) .gnav_gender span.woman {
  color: #ffabce;
}

.header_wrapper .header_btns1 .checkbox:checked ~ .gnav {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 520px) {
  .header {
    margin: 0px auto;
  }
  .header_wrapper .header_btns1 .gnav {
    padding-top: 100px;
  }
  .header_wrapper .header_btns1 .gnav .gnav_list .gnav_item {
    font-size: 20px;
    margin: 30px;
  }
  .header_wrapper .header_btns1 .gnav .gnav_list .gnav_item > a {
    max-width: 300px;
    border-radius: 25px;
    color: #fff;
    background-color: #ffabce;
    padding: 15px;
    margin: 0 auto;
    opacity: .7;
  }
  .header_wrapper .header_btns1 .gnav .gnav_list .gnav_item:nth-of-type(5) {
    max-width: 300px;
    border-radius: 35px;
    color: #fff;
    background-color: #ffabce;
    padding: 5px 0;
    margin: auto;
    opacity: .7;
  }
  .header_wrapper .header_btns1 .gnav .gnav_list .gnav_item:nth-of-type(5) .gnav_gender {
    margin: 0;
  }
  .header_wrapper .header_btns1 .gnav .gnav_list .gnav_item:nth-of-type(5) .gnav_gender > a.woman, .header_wrapper .header_btns1 .gnav .gnav_list .gnav_item:nth-of-type(5) .gnav_gender span.woman {
    color: #ff1e1e;
  }
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
  main
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
main {
  padding-top: 50px;
}

main .sec.bring .h2 {
  color: #fff;
  font-size: 17px;
  padding: 20px 30px;
  letter-spacing: .2em;
  background: #ffabce;
}

main .sec.bring .bring_list {
  font-size: 15px;
  letter-spacing: 0.1em;
  line-height: 1.4;
  margin: 20px;
}

main .sec.bring .bring_list .bring_item {
  margin: 30px 20px;
}

main .sec.bring .bring_list .bring_item h3 {
  font-size: 17px;
  padding: 10px;
}

main .sec.bring .bring_list .bring_item h3::before {
  content: "✔︎";
}

main .sec.bring .bring_list .bring_item p {
  font-size: 12px;
  margin: 0px 0 0px 16px;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
  footer
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.footer {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #eee;
}

.footer p {
  font-size: 15px;
  line-height: 50px;
}
/*# sourceMappingURL=bring.css.map */